<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
</head>
<body>
    <nav>
        <h1><a href="{{ '/' | relative_url }}">{{ site.title }}</a></h1>
        <!-- Challenge Links -->
        <a href="{{ '/classes/SSHerlock' | relative_url }}">SSHerlock (Network)</a>
        <a href="{{ '/classes/HashHound' | relative_url }}">HashHound (Host)</a>
        <a href="{{ '/classes/CyberCartographer' | relative_url }}">CyberCartographer (Network)</a>
        <a href="{{ '/classes/MsDisin' | relative_url }}">MsDisin (Host)</a>
        <a href="{{ '/classes/LANgeist' | relative_url }}">LANgeist (Network)</a>
        <a href="{{ '/classes/Malchemist' | relative_url }}">Malchemist (Host)</a>
        <a href="{{ '/classes/PortalLord' | relative_url }}">Portalord (Network)</a>
        <a href="{{ '/classes/8ball' | relative_url }}">8ball (Host)</a>
    </nav>
    <main class="main-content">
        {{ content }}
    </main>
</body>
</html>
